<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
    <body>
        <%- include('./partials/header') -%>
        <main>
            <section class="aboutUs__section">
                <p class="section__title">Sobre nosotros</p>
                <div class="aboutUs__cont">
                    <div class="aboutUs__elem-cont">
                        <img src="/img/main/aboutUs-image.jpeg" alt="aboutUs" class="aboutUs__img" />
                    </div>
                    <div class="aboutUs__elem-cont">
                        <p class="aboutUs__txt">
                            En IncluyeTEC derribamos barreras para que la tecnología sea para todos. Ya seas un experto o un principiante en este
                            emocionante mundo, estamos aquí para acompañarte en tu viaje. Nuestro equipo selecciona cuidadosamente productos de
                            calidad a precios accesibles, para satisfacer diversas necesidades y presupuestos. Aqui escuchamos y aprendemos de cada
                            uno, porque cada historia importa. Valoramos la diversidad en todas sus formas, enriqueciendo así la experiencia
                            tecnológica. Ya sea para mejorar tu espacio de trabajo, potenciar tus habilidades de juego o explorar nuevas fronteras.
                            Juntos construimos un espacio donde la tecnología no solo es accesible, sino también una herramienta para empoderarnos y
                            conectarnos. ¡Bienvenido a nuestra comunidad!
                        </p>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./partials/footer') %>
        <script src="js/main.js"></script>
        <script src="js/dark-mode.js"></script>
    </body>
</html>
