<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <% if (title == 'Index') { %>
    <link rel="stylesheet" href="/css/index.css" />
    <title>IncluyeTEC</title>
    <% } else { %>
    <link rel="stylesheet" href="/css/<%= style %>.css" />
    <title>IncluyeTEC | <%= title %></title>
    <% } %>
    <script src="https://kit.fontawesome.com/5f27d919b8.js" crossorigin="anonymous"></script>
</head>
